name: Test and Publish

on:
 pull_request:

permissions:
  checks: write
  pull-requests: write
  contents: write

jobs:
  test:
    runs-on: windows-latest
    outputs:
      skip-publish: ${{ steps.check-tag.outputs.exists }}
    continue-on-error: true
    steps:
    - uses: actions/checkout@v4
      with:
        sparse-checkout: |
          .github
          src

    - name: Setup .NET
      uses: actions/setup-dotnet@v4.0.1
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore src/ParquetViewer.sln

    - name: Build
      run: dotnet build src/ParquetViewer.sln --configuration Debug --no-restore

    - name: Test
      run: dotnet test src/ParquetViewer.sln --no-build --logger trx

    - name: Test Report
      uses: bibipkins/dotnet-test-reporter@v1.4.1
      if: github.repository == 'mukunku/ParquetViewer'
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        comment-title: 'Unit Test Results'
        results-path: ./src/ParquetViewer.Tests/TestResults/*.trx

  checkPublish:
    runs-on: windows-latest
    needs: test
    if: github.repository == 'mukunku/ParquetViewer' 
    outputs:
      release_version: ${{ steps.release-version.outputs.release_version }}
      should_publish: ${{ steps.should-publish.outputs.should_publish }}
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            src/ParquetViewer/Properties/AssemblyInfo.cs

      - name: Get Release version
        id: release-version
        run: |
          $content = Get-Content -Path "src/ParquetViewer/Properties/AssemblyInfo.cs" -Raw
          $pattern = '\[assembly: AssemblyVersion\("(\d+(\.\d+){3})"\)\]'
          $match = Select-String -InputObject $content -Pattern $pattern
          $versionMatch = $match.Matches[0].Groups[1].Value
          "release_version=$versionMatch" >> $env:GITHUB_OUTPUT
          Write-Host "Checking version $versionMatch"

      - name: Is there a finalized release already
        uses: mukunku/release-exists-action@v1.0.0
        id: check-release
        with: 
          tag: 'v${{ steps.release-version.outputs.release_version }}'

      - id: should-publish
        run: | 
          "should_publish=" + (
          '${{ steps.check-release.outputs.exists }}' -eq 'false' -or
          '${{ steps.check-release.outputs.prerelease }}' -eq 'true').ToString() >> $env:GITHUB_OUTPUT

  publish:
    runs-on: windows-latest
    needs: checkPublish
    if: needs.checkPublish.outputs.should_publish == 'true'
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      PR_NUMBER: ${{ github.event.number }}
      VERSION_NUMBER: ${{ needs.checkPublish.outputs.release_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            src

      - name: Setup .NET
        uses: actions/setup-dotnet@v4.0.1
        with:
          dotnet-version: '8.0.x'

      - name: Inject Amplitude API Key
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'src/ParquetViewer/Analytics/AmplitudeEvent.cs'
          search-text: 'private const string AMPLITUDE_API_KEY = "";'
          replacement-text: 'private const string AMPLITUDE_API_KEY = "${{ secrets.AMPLITUDE_API_KEY }}";'

      - name: Build & Publish Regular Release
        run: dotnet publish src/ParquetViewer/ParquetViewer.csproj -c Release  -f net8.0-windows --nologo -o publish -r win-x64 --self-contained false

      - name: Build & Publish SelfContained Release
        run: dotnet publish src/ParquetViewer/ParquetViewer.csproj -c Release_SelfContained  -f net8.0-windows --nologo -o publish_selfcontained -r win-x64 --self-contained true

      - name: Prepare executables for upload
        run: |
          Move-Item -Path "publish/ParquetViewer.exe" -Destination "./ParquetViewer.exe"
          Move-Item -Path "publish_selfcontained/ParquetViewer.exe" -Destination "./ParquetViewer_SelfContained.exe"

      - name: Upload unsigned artifact for signing
        id: upload-unsigned-artifact
        uses: actions/upload-artifact@v4
        with:
          path: |
            ParquetViewer.exe
            ParquetViewer_SelfContained.exe

      - name: Remove unsigned exe's for safety
        run: |
          Remove-Item -Path "ParquetViewer.exe"
          Remove-Item -Path "ParquetViewer_SelfContained.exe"

      # Documentation: https://about.signpath.io/documentation/trusted-build-systems/github
      - name: Submit signing request to SignPath.io
        uses: signpath/github-action-submit-signing-request@v1.1
        with:
          api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
          organization-id: '5ceccea7-c3e7-4165-8c2e-adab8679db20'
          project-slug: 'ParquetViewer'
          signing-policy-slug: 'test-signing'
          github-artifact-id: '${{ steps.upload-unsigned-artifact.outputs.artifact-id }}'
          wait-for-completion: true
          output-artifact-directory: '/signed-package'

      - name: Generate _checksums.txt
        run: |
          $fileHash = (Get-FileHash "signed-package/ParquetViewer.exe" -Algorithm SHA256)
          $fileHashSelfContained = (Get-FileHash "signed-package/ParquetViewer_SelfContained.exe" -Algorithm SHA256)
          $fileSize = (Get-Item -Path "signed-package/ParquetViewer.exe").Length
          $fileSizeSelfContained = (Get-Item -Path "signed-package/ParquetViewer_SelfContained.exe").Length
          "v${{ env.VERSION_NUMBER }}" >> "_checksums.txt"
          "" >> "_checksums.txt"
          "Name: ParquetViewer.exe" >> "_checksums.txt"
          "Size: $fileSize bytes ($([math]::floor($fileSize/1KB)) KiB)" >> "_checksums.txt"
          "SHA256: $($fileHash.Hash)" >> "_checksums.txt"
          "" >> "_checksums.txt"
          "Name: ParquetViewer_SelfContained.exe" >> "_checksums.txt"
          "Size: $fileSizeSelfContained bytes ($([math]::floor($fileSizeSelfContained/1KB)) KiB)" >> "_checksums.txt"
          "SHA256: $($fileHashSelfContained.Hash)" >> "_checksums.txt"
          "" >> "_checksums.txt"

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "signed-package/ParquetViewer.exe,signed-package/ParquetViewer_SelfContained.exe,_checksums.txt"
          body: "PR: #${{ env.PR_NUMBER }}"
          allowUpdates: ${{ env.BRANCH_NAME != 'main' }}
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          replacesArtifacts: true
          updateOnlyUnreleased: true
          tag: v${{ env.VERSION_NUMBER }}
          commit: ${{ github.sha }}
