name: .NET Test

on:
  #push:
  #  branches:
  #    - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  promoteGA:
    runs-on: windows-latest
    if: github.repository == 'mukunku/ParquetViewer' 
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            src/ParquetViewer/Properties/AssemblyInfo.cs

      - name: Get Release version
        id: release-version
        run: |
          $content = Get-Content -Path "src/ParquetViewer/Properties/AssemblyInfo.cs" -Raw
          $pattern = '\[assembly: AssemblyVersion\("(\d+(\.\d+){3})"\)\]'
          $match = Select-String -InputObject $content -Pattern $pattern
          $versionMatch = $match.Matches[0].Groups[1].Value
          "release_version=$versionMatch" >> $env:GITHUB_OUTPUT
          Write-Host "Checking version $versionMatch"

      - name: Is there a matching prerelease
        uses: mukunku/release-exists-action@v1.0.0
        id: check-release
        with: 
          tag: 'v${{ steps.release-version.outputs.release_version }}'

      - name: Promote release to General Availability
        uses: ncipollo/release-action@v1
        if: steps.check-release.outputs.exists == 'true' && steps.check-release.outputs.prerelease == 'true'
        with:
          omitNameDuringUpdate: true
          prerelease: false
          replacesArtifacts: false
          updateOnlyUnreleased: false # can't switch from prerelease to GA without setting this to false
          tag: v${{ steps.release-version.outputs.release_version }}
